#firstName,
#lastName {
  display: inline-block;
  width: 120px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 8px;
  border-width: 1px;
}

#email {
  margin-top: 10px;
  display: block;
  width: 265px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 8px;
  border-width: 1px;
}

#signUp {
  display: block;
  margin-top: 10px;
  width: 288px;
  background-color: blue;
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  font-family: Arial;
  border-radius: 6px;
  cursor: pointer;
}
