<form class="search" action="/search" method="post">
  <input type="search" name="str" value="" placeholder="Search email..." />
  <button type="submit" class="btn-search">
    <img src="/static/img/search-icon.png" alt="search-icon" />
    Search
  </button>
</form>

<section id="search-page">

  <h2>Search result:</h2>
  {{#each result}}
    <article class="search-page-result">
      <p class="search-page-result-headline">Headline: {{headline}}</p>
      <p class="search-page-result-companyName">Company Name:
        {{cName}}</p>
    </article>
  {{else}}
    <article class="search-page-no-result">
      <p class="search-page-no-result-message">No match found.</p>
    </article>
  {{/each}}

</section>